    <!-- Sidebar -->
<div id="sidebar" class="sidebar">
    <div class="row justify-content-end mt-5">
        <button class="btn text-dark mt-2 ms-auto me-3 col-2" onclick="toggleSidebar()">✖</button>
    </div>

    <nav class="nav flex-column p-3">
        <a href="#" class="nav-link text-dark">Home</a>
        

        <!-- Analytics Section -->
        <div class="section">
            <button class="btn text-dark d-flex align-items-center"
                    data-bs-toggle="collapse"
                    data-bs-target="#analyticsCollapse"
                    aria-expanded="false"
                    aria-controls="analyticsCollapse">
                Service
                <span class="ms-auto">&#x25BC;</span>
                <!-- Down arrow icon -->
            </button>
            <div class="collapse" id="analyticsCollapse">
                <a href="#" class="nav-link text-dark ms-4">Email</a>
                <a href="#" class="nav-link text-dark ms-4">Sms</a>
                <a href="#" class="nav-link text-dark ms-4">E-Signing</a>
          
            </div>
        </div>

       
    </nav>
</div>